@charset "utf-8";
.container_in{
    width: 1860px;
    /* height: 100vh; */
    margin: 0 auto;
    padding: 10px 15px 0 10px;
    box-sizing: border-box;
    /* background-color: thistle; */
}

.content{
    width: 100%;
    display: flex;
}
.con_left{
    position: relative;
    width: 60%;
    height: 700px;
    /* height: 100%; */
    padding: 30px 0;
    box-sizing: border-box;
    /* background-color: tomato; */
}
.input_content{
    margin: 0 13px;
}
select{
    width: 305px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 78px 19px 0 0;
}
textarea{
    font-family: sans-serif;
    font-size: 14px;
}
input{
    display: block;
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}


.con_right{
    width: 40%;
    height: 700px;
    /* background-color: violet; */
}
.con_right input{
    height: 30px;
    width: 100px;
    margin-top: 630px;
    background-color: transparent;
    border: 1px solid #777;
}
.con_right input:hover{
	cursor: pointer;
}


